.card.mb-3{id: "question_#{q.id}"}
  .card-header
    - if q.user_session && q.user_session.questioner_name.present?
      .small.pull-left= q.user_session.questioner_name
    .small.pull-right= q.created_at.strftime("%e %B %Y, %H:%M")
  .card-body
    %p.card-text
      %em= q.text

  .card-footer
    = simple_form_for([knowledge_basis, q], remote: true, html: { class: 'form-horizontal', onsubmit: "location.reload();" }) do |f|
      = f.association :answer, label: false, input_html: {class: "select2"}, collection: knowledge_basis.answers.map{|a| [(a == q.answer ? "[#{q.probability}] " : "") + a.text.truncate(100), a.id]}
      = f.input :confirmed_at, as: :hidden, input_html: { value: DateTime.now }
    
      - if user.can?(:create, Answer.new(knowledge_basis: knowledge_basis))
        = link_to new_knowledge_basis_answer_path(knowledge_basis, question_ids: [q.id]), class: "btn btn-primary" do
          Create new answer
      - if user.can?(:destroy, q)
        .pull-right
          = link_to "Delete", knowledge_basis_question_path(knowledge_basis, q), method: :delete, class: "btn btn-danger"