= simple_form_for([knowledge_basis, user_value], html: { class: 'form-horizontal' }) do |form|
  
  = form.input :name
  = form.input :data_type, collection: UserValue::DATA_TYPES, include_blank: false
  = form.input :regular_expression, wrapper_html: {id: "body_input", style: "display:#{user_value.data_type == 'string' ? 'none': 'block'}"}
  = form.input :prompt, placeholder: knowledge_basis.request_for_user_value_message.to_s.gsub(/\[\[\w+?\]\]/, form.object.new_record? ? "[[user value name]]" : form.object.name.to_s), label_html: {"data-tooltip": true, class: "has-tip", title: "Customize question for this user value here – otherwise the default question shown as placeholder is used."}
  = form.input :knowledge_basis_id, as: "hidden", input_html: {value: knowledge_basis.id}

  = form.submit "Save", class: "btn btn-primary"
  = link_to "Cancel", knowledge_basis_answers_path(@knowledge_basis, tab: "user_values"), class: "btn"


  - unless user_value.new_record?
    .float-right
      = link_to "Delete", knowledge_basis_user_value_path(@user_value), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete the user value '#{user_value.name}'?" } if can? :destroy, user_value

