
.container
  %h3 Tasks List
  .row
    .col-10
      - if @tasks.blank?
        .alert.alert-warning
          .alert-heading 
            %h3 No Tasks available yet
          %p.mb-0 Please contact an admin user for help.
      - else

        %table.table.table-striped
          %thead
            %tr
              %th{style: "min-width:200px"} Task Name
              %th Code
              %th Properties
              %th
          %tbody
            - @tasks.each do |kb|
              %tr
                %td= kb.name
                %td= kb.code
                %td= kb.properties
                %td.pull-right
                  - if can? :edit, kb
                    = link_to edit_task_path(kb) do
                      %i.fa.fa-cog

    .col-2
      .list-group
        - if can? :create, KnowledgeBasis
          = link_to new_task_path, class: "btn btn-primary" do
            %i.fa.fa-plus-circle
            Add