%br
.row
  .col-9
    %table.table.table-hover
      %body
      - @answers.each do |a|
        %tr
          %td= a.text
          %td.pull-right
            - if can? :edit, a
              = link_to edit_knowledge_basis_answer_path(@knowledge_basis, a) do
                %i.fa.fa-cog
            - if a.contains_unmatched_placeholders?
              %i.fa.fa-exclamation-triangle{title: "Unmatched placeholder(s)!"}

  .col-3
    .list-group
      = link_to new_knowledge_basis_answer_path(@knowledge_basis), class: "btn btn-primary" do
        %i.fa.fa-plus-circle
        Add
      %br
      - if can? :import, Answer
        = simple_form_for(@knowledge_basis, url: import_knowledge_basis_answers_path, html: { method: :post }) do |form|
          %a.btn.btn-primary.btn-file.list-group.fa.fa-upload{:href => "#popup1"}
            %span Import
          #popup1.overlay
            .popup
              = render 'popup_fields', :f => form
      %br
      = link_to " Export ", export_knowledge_basis_answers_path(@knowledge_basis, format: "csv"),  class: "btn btn-primary fa fa-download", style: "width: 100%"