%h3 New answer

= simple_form_for([@knowledge_basis, @answer], html: { class: 'form-horizontal' }) do |form|
  = form.input :text, label: false, input_html: {rows: 4}
  = form.input :knowledge_basis_id, as: "hidden"

  %ul.nav.nav-tabs{role: "tablist"}
    %li.nav-item
      = link_to "Training", "#training", class: "nav-link active", "data-toggle": "tab", role: "tab"
    %li.nav-item
      = link_to "Matched", "#matched", class: "nav-link disabled", "data-toggle": "tab", role: "tab"
  .tab-content
    #matched.tab-pane{role: "tabpanel"}
    #training.tab-pane{role: "tabpanel", class: "active"}
      %br
      - if form.object.questions.training.count == 0 && params[:question_ids].blank?
        .alert.alert-warning
          .alert-heading 
            %h4 No training data!
          %p.mb-0 Add sample questions now. 

      %table.table
        %tbody.training
          =  form.simple_fields_for :questions, @questions do |q|
            = render 'question_fields', f: q, tab: "training"
      .links
        = link_to_add_association form, :questions, data: {"association-insertion-node": "tbody.training", "association-insertion-method": "append"}, :render_options => { :locals => {tab: "training" }}, class: "btn btn-secondary" do
          %i.fa.fa-plus-circle
          Add training question

  %br    
    .form-group
      = form.submit "Save", class: "btn btn-primary"
      = link_to "Cancel", params[:question_ids].blank? ? knowledge_basis_answers_path(@knowledge_basis) : knowledge_basis_questions_path(@knowledge_basis), class: "btn btn-warning"
