.contain
  %h3 Create user

  = simple_form_for([:admin, @user], html: { class: 'form-horizontal',:autocomplete => "off" }) do |form|
    = form.input :email
    = form.input :password
    = form.input :password_confirmation
    = form.input :role, collection: User::ROLES.map{|u| [u.to_s.titleize, u]}, include_blank: true
    = link_to "Cancel", admin_users_path, class: "btn btn-warning"
    .float-right
      = form.submit "Save", class: "btn btn-primary"